@use '../../styles/colors/color.scss' as *;

.Navbar {
    background-color: $layout;
}

.navItem {
    text-align: center;
}

.navItem:hover {
    color: $layout;
    background-color: white !important;
    font-size: 15px;
    font-weight: bolder;
}

// ul {
//     padding: 80px 70px 80px 70px !important;
// }