@use '../../styles/colors/color.scss' as *;

.Navbar {
    background-color: $primary;
}



.navItem {
    text-align: center;
    font-size: 15px !important;
    font-weight: 900;
    
}

.navItem:hover {
    background-color: $hover !important;
    font-size: 15px;
    font-weight: bolder;
}

.brand-logo {
    
}

#mobile-nav {
    padding: 80px 70px 80px 70px !important;
    
}