@use '../../../styles/colors/color.scss' as *;

.radio-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.radio-button {
    margin: 5px;
}

.number-years {
    font-size: 1.0rem;
    margin-top: 25px;
}

#text {
    font-size: 1.0rem;
}


[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid $primary !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: $primary !important;
}