.radio-group {
    display: flex;
    align-items: center;
    font-size: 46px;
    margin-top: 10px;
    
}

.radio-button {
    height: 50px;
    margin: 5px;
    margin-top: 2px;
    padding: 5px;
}

.number-years {
    font-size: 16px;
    margin-top: 25px;
}

// p{
//     margin-bottom: 1px;
//     padding: 0px;
//     margin-top: 1px;
    
    
// }

#text {
    font-size: 16px;
}