.yearly-income{
    font-size: 1.0rem;
}

.prompt {
    margin-top: 10px;
}

.css-10eikzx-MuiSlider-root {
    color: #7fb2ff !important;
}

.question {
    font-size: 1.0rem !important;
}

input[type=text].valid:not(.browser-default){
    background-color: white;
    border-bottom: white;
    box-shadow: 0 1px 0 0 white;
}