@use '../../../styles/colors/color.scss' as *;

.checkbox {
    display: flex;
    align-items: center;
}

.specialty{
    font-size: 1.0rem;
}

label {
    color: $dark;
}


[type="checkbox"]:checked+span:not(.lever):before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $primary !important;
    border-bottom: 2px solid $primary !important;
}
