@use '../../../styles/colors/color.scss' as *;

.text-input:focus {
    border-bottom: 1px solid $dark !important;
    -webkit-box-shadow: 0 1px 0 0 $dark;
    box-shadow: 0 1px 0 0 $dark !important;
}