@use '../../../styles/colors/color.scss' as *;

.btn {
    background-color: $secondary;
    max-width: 500px;
    align-items: center;
}

.btn:focus {
    background-color: $secondary;
}

.btn:hover {
    background-color: $secondary;
}

