body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Red Hat Display', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.button{
  background-color: rgb(127, 195, 235);
}

footer {
  bottom: 0 ;
};

main {
  flex: 1 0 auto;
  padding: 30px;
}

#root {
 height: 100vh;
};

