/* .bottom-bar {
    display: flex
}; */

.footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    vertical-align: middle;
    display: flex;
};

/* .footer-container {
    display: flex;
}; */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
};

main {
    flex: 1 0 auto;
};