@use '../../styles/colors/color.scss' as *;

.contact-us{
    display: inline;
}

.footer {
    background-color: $primary;
    flex-shrink: 0;
}

footer div.container div.row {
    display: flex;
}



.footer-heading{
    font-size: 2.0rem;
}


.icon {
    width: 50px;
    height: 30px;
    color: $light; 
}

.icon-list{
    display: flex;
    flex-direction: column;
    
    
}

.icon-text {
    color: $light;
    align-items: center;
    vertical-align: middle;
    
}

.spacing-link{
    margin: 5px;
}


