@use '../../styles/colors/color.scss' as *;

.footer {
    background-color: $primary;
    flex-shrink: 0;
}

.footer-heading{
    font-size: 2.0rem;
}


.icon {
    width: 50px;
    height: 30px;
    color: $light; 
}

.icon-list{
    display: flex;
    flex-direction: column;
    
    
}

.icon-text {
    color: $light;
    align-items: center;
    vertical-align: middle;
    
}

.spacing-link{
    margin: 5px;
}

@media only screen and (min-width: 300px){
.row .col.offset-l2 {
    margin-left: 16.6666666667% !important;
}}

@media only screen and (min-width:300px){
.row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}}
