@use '../../styles/colors/color.scss' as *;

.footer {
    background-color: $primary;
    flex-shrink: 0;
}


.icon {
    width: 50px;
    height: 30px;
    color: $light;
    align-items: center;
    vertical-align: middle;
    
}

.icon-list{
    display: flex;
    flex-direction: column;
    
    
}

.icon-text {
    color: $light;
    align-items: center;
    vertical-align: middle;
    
}

.spacing-link{
    margin: 5px;
}